*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Raleway', sans-serif;
}
.landing{
    min-height: 100vh;
/*     background: url("lap7.jpg"); */
    background-size: cover;
    padding: 0rem 5rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;

}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li {
    padding: 11px;
    font-size: 1.2rem;
}
#logo{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.big-text {
    position: absolute;
    top: 34%;
    left: 43%;
    transform: translate(-20%, -30%);
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    color: black;
}
.big-text-again {
    position: absolute;
    top: 66%;
    left: 39%;
    transform: translate(-20%, -30%);
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    color: black;
}
.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    background: rgb(148, 149, 159);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;

}
